@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    padding: 0;
    margin: 0;
    background: #343434;
}
a, h1, p {
    font-family: 'Bebas Neue', sans-serif;
}
.text_box{
    display: grid;
    grid-template-rows: 10% 20%;
}
.text_box h1{
    color: #FF4350;
    font-size: 50px;
    display: flex;
    align-items: center;
}
.text_box a{
    color: white;
    font-size: 24px;
    grid-row-start: 2;
    grid-row-end: 3;
}



