.Welcome_container img{
    width: 100%;
}
.Mission{
    display: grid;
    grid-template-columns: 50% 50%;
}

.Mission img {
    margin-bottom: -3%;
    display:flex;
    margin-left: auto;
    height: 100%;
    width: 100%;
}

.text_box_left a {
    display: flex;
    justify-content: center;
}
.text_box_left h1 {
    display: flex;
    padding-left: 5%;
}