
.Play{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.Play iframe {
    height: 75%;
    width: 75%;
}
.text_box_left{
    padding-top: 10%;
}
.text_box_left a {
    display: flex;
    justify-content: center;
}
.text_box_left h1 {
    font-size: 50px;
    display: flex;
    padding-left: 10%;
}