#carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: auto; /* Centre l'image horizontalement */
}

.caption {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    text-align: center;
    margin: auto; /* Centre le texte horizontalement */
}

.gradient1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, white, red); /* Safari, Chrome, Opera */
    background: -moz-linear-gradient(top, white, red); /* Firefox */
    background: -o-linear-gradient(top, white, red); /* Opera */
    background: linear-gradient(to bottom, white, red); /* Standard */
    mix-blend-mode: multiply;
}

