body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a, h1, p, label {
    font-family: 'Bebas Neue', sans-serif;
}
header {
    margin-top: 5%;
    z-index: 1;
    align-items: end;
}
header a {
    color: #ffffff;
    opacity: 0.5;
    transition: opacity 0.3s;
}

header a:hover {
    opacity: 1;
}
.navlink{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.navlink a{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.message {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message h2 {
    margin-top: 0;
}

.message p {
    margin-bottom: 0;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


#carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center; /* Ajout de cette propriété */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide.active {
    opacity: 1;
}

.slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: auto; /* Centre l'image horizontalement */
}

.caption {
    width: 500px;
    height: 250px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #343434;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    margin-right: 15%;
}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background-attachment: fixed;
}

.gradient_iron {
    background: linear-gradient(to left, #a0a0a0, gray, #343434);
}

.gradient_bronze {
    background: linear-gradient(to left, #72302b, #5d1d19, #343434);
}

.gradient_silver {
    background: linear-gradient(to left, #343434, darkgrey, #343434);
}

.gradient_gold {
    background: linear-gradient(to left, #343434, #c8a150, #343434);
}

.gradient_platinum {
    background: linear-gradient(to left, #343434, #207682, #343434);
}

.gradient_diamond {
    background: linear-gradient(to left, #343434, #7d5aa0, #343434);
}

.gradient_ascendant {
    background: linear-gradient(to left, #343434, #8fb662, #343434);
}

.gradient_immortal {
    background: linear-gradient(to left, #343434, #5d1d19, #343434);
}

.gradient_radiant {
    background: linear-gradient(to left, #343434, #ffc400, #343434);
}

.slide img {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide.active img {
    transform: translateX(0);
    opacity: 1;
}

.slide .caption {
    transform: translateX(50%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide.active .caption {
    transform: translateX(0);
    opacity: 1;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media screen and (max-width: 1023px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
    .navlink {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #343434;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navlink.active {
        left: 0;
    }

    .navbutton {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        margin-left: -75%;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

