body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a, h1, p, label {
    font-family: 'Bebas Neue', sans-serif;
}

#carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: auto; /* Centre l'image horizontalement */
}

.caption {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #343434;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.gradient_iron {
    background: -webkit-linear-gradient(top, white, gray); /* Safari, Chrome, Opera */
}

.gradient_bronze {
    background: -webkit-linear-gradient(top, white, saddlebrown); /* Safari, Chrome, Opera */
}

.gradient_silver {
    background: -webkit-linear-gradient(top, white, darkgrey); /* Safari, Chrome, Opera */
}
.gradient_gold {
    background: -webkit-linear-gradient(top, white, #c8a150); /* Safari, Chrome, Opera */
}
.gradient_platinum {
    background: -webkit-linear-gradient(top, white, #207682); /* Safari, Chrome, Opera */
}
.gradient_diamond {
    background: -webkit-linear-gradient(top, white, #7d5aa0); /* Safari, Chrome, Opera */
}
.gradient_ascendant {
    background: -webkit-linear-gradient(top, white, #8fb662); /* Safari, Chrome, Opera */
}
.gradient_immortal {
    background: -webkit-linear-gradient(top, white, #5d1d19); /* Safari, Chrome, Opera */
}
.gradient_radiant {
    background: -webkit-linear-gradient(top, white, #ffc400); /* Safari, Chrome, Opera */
}